<div class="container">
  <p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>¿Está disponible?</strong>
  <%= @product.available %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
  
</div>
